* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.book {
  background-color: rgba(255, 123, 0, 0.315);
  margin: 10px 5px;
  padding: 20px 0px;
  transition: all ease-in-out 0.4s;
  border-radius: 10px;
  position: relative;
  min-height: 350px;
}

.read:hover {
  background-color: rgba(175, 81, 81, 0.664);
}

.unread:hover {
  background-color: rgba(92, 180, 70, 0.664);
}

.book-title{
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 0;
}

.book-author {
  text-align: right;
  font-weight: bold;
}

.book-genre {
  color: rgba(63, 79, 170, 0.664);
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-weight: bold;
}

.book-author:before {
  content: "by ";
}


form {
  border-radius: 10px;
  display: none;
  padding: 10px;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -250px;
  background-color: white;
  z-index: 15;
}


.delete-book-button {
  position: absolute;
  left: 10px;
  bottom: 25px;
}

.read:before {
  content: "Read";
  position: absolute;
  color: green;
  font-weight: bold;
  font-size: 22px;
  top: 45%;
  left: 40%;
  transform: rotate(45deg);

}


.unread:before {
  content: "Unread";
  position: absolute;
  color: rgb(255, 72, 0);
  font-weight: bold;
  font-size: 22px;
  top: 45%;
  left: 40%;
  transform: rotate(-45deg);
}



.click-to-read {
  position: absolute;
  top: 40%;
  left: 10px;
}


#sign-in-buttons {
  background-color: #f9f9f9;
  width: 100%;
  display: none;
  margin: 10px auto 0 auto;

}

nav {
  padding: 8px 20px;
  background-color: #f9f9f9;
  align-items: center;
  border-bottom: 1px solid rgb(218, 218, 218);
}

#sign-in, #sign-up, #sign-out {
  display: none;
}

#sign-up-form {
  display: none;
  padding: 40px 10px;
}